<!--<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <table>
        <tr>
            <td><label for = "Name">Name:</label></td>
            <td><input type="text" name="Name" id="Name" [(ngModel)]="Name"/></td>       
        </tr>
        <br>
        <tr>
          <td> <label for = "Code">Code:</label></td> 
          <td><input type="text" name="Code" id="Code" [(ngModel)]="Code"/></td>
        </tr>
        <br>
        <tr>
          <td align="center" colspan="2"><input type="submit" value="Add"/></td>
        </tr>
    </table>
  </form>
</div>-->
<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

    <div class="form-group">
      <label class="control-label" for = "Name">Name:</label>
      <br>
      <input class="form-control" style="width:15%" type="text" name="Name" id="Name" [(ngModel)]="Name"/>
    </div>

    <div class="form-group">
      <label class="control-label" for = "Code">Code:</label>
      <br>
      <input class="form-control" style="width:15%" type="text" name="Code" id="Code" [(ngModel)]="Code"/>
    </div>

    <div >
      <button type="submit" class="btn btn-info">Add</button>
    </div>
  </form>
</div>