<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <table>
        <tr>
            <td><label for = "Name">Name:</label></td>
            <td><input type="text" name="Name" id="Name" [(ngModel)]="Name"/></td>       
        </tr>
        <br>
        <tr>
          <td> <label for = "Code">Code:</label></td> 
          <td><input type="text" name="Code" id="Code" [(ngModel)]="Code"/></td>
        </tr>
        <br>
        <tr>
          <td align="center" colspan="2"><input type="submit" value="Add"/></td>
        </tr>
    </table>
  </form>
</div>
