<div class="panel panel-success" style="width: 30%">
  <div class="panel-heading"> 
    <p style="font-weight: bold">Accommodation: {{AccommodationName }}</p>
    <p style="font-weight: bold">RoomNumber: {{room.RoomNumber}}</p>
    <p style="font-weight: bold">Bed count: {{room.BedCount}}</p>
    <p style="font-weight: bold">Description: {{room.Description}}</p>
    <p style="font-weight: bold">Price per night: {{room.PricePerNight}}</p>
  </div>
  <div>
     <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class="form-group">
        <label class="control-label" for = "RoomNumber">Room number:</label>
        <br>
        <input class="form-control" type="text" name="RoomNumber" id="RoomNumber" [(ngModel)]="RoomNumber"/>
      </div>
      <div class="form-group">
        <label class="control-label" for = "BedCount">Bed count:</label>
        <br>
        <input class="form-control" type="text" name="BedCount" id="BedCount" [(ngModel)]="BedCount"/>
      </div>
      <div class="form-group">
        <label class="control-label" for = "Description">Description:</label>
        <br>
        <textarea class="form-control" id="exampleTextarea" name="description" [(ngModel)]="Description"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for = "PricePerNight">Price per night:</label>
        <br>
        <input class="form-control" type="text" name="PricePerNight" id="PricePerNight" [(ngModel)]="PricePerNight"/>
      </div>
      <div>
        <input type="button" class="btn btn-secondary" type="submit" value="Edit"/>
      </div>
    </form>
  </div>
</div>

<br>
<br>