<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="form-group">
      <label class="control-label" for = "RoomNumber">Room number:</label>
      <br>
      <input class="form-control" style="width:15%" type="text" name="RoomNumber" id="RoomNumber" [(ngModel)]="RoomNumber"/>
    </div>
    <div class="form-group">
      <label class="control-label" for = "BedCount">Bed count:</label>
      <br>
      <input class="form-control" style="width:15%" type="text" name="BedCount" id="BedCount" [(ngModel)]="BedCount"/>
    </div>
    <div class="form-group">
      <label class="control-label" for = "Description">Description:</label>
      <br>
      <input class="form-control" style="width:15%" type="text" name="Description" id="Description" [(ngModel)]="Description"/>
    </div>
    <div class="form-group">
      <label class="control-label" for = "PricePerNight">Price per night:</label>
      <br>
      <input class="form-control" style="width:15%" type="text" name="PricePerNight" id="PricePerNight" [(ngModel)]="PricePerNight"/>
    </div>
    <div class="form-group" style="width:15%">
      <label class="control-label">Accommodation:</label>
      <select class="form-control" name="AccommodationId" id="AccommodationId" [(ngModel)]="AccommodationId">
        <option *ngFor = "let accommodation of accommodations" value={{accommodation.Id}} >{{accommodation.Name}}</option>
      </select>
    </div>
    <div>
      <input class="btn btn-default" type="submit" value="Create"/>
    </div>
  </form>
</div>