<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div>
    <label for = "RoomNumber">Room number:</label>
    <input type="text" name="RoomNumber" id="RoomNumber" [(ngModel)]="RoomNumber"/>
  </div>
  <div>
    <label for = "BedCount">Bed count:</label>
    <input type="text" name="BedCount" id="BedCount" [(ngModel)]="BedCount"/>
  </div>
   <div>
    <label for = "Description">Description:</label>
    <input type="text" name="Description" id="Description" [(ngModel)]="Description"/>
  </div>
  <div>
    <label for = "PricePerNight">Price per night:</label>
    <input type="text" name="PricePerNight" id="PricePerNight" [(ngModel)]="PricePerNight"/>
  </div>
  <div>
    <select name="AccommodationId" id="AccommodationId" [(ngModel)]="AccommodationId">
      <option *ngFor = "let accommodation of accommodations" value={{accommodation.Id}} >{{accommodation.Name}}</option>
    </select>
  </div>
  <div>
    <input type="submit" value="Create"/>
  </div>

</form>