<!--<div style="float:left;padding-left:1%">
  <ul class="breadcrumb" *ngFor = "let reservation of reservations">
    <li style="color:white" class="active">{{ reservation.StartDate }}, {{ reservation.EndDate }}
        {{ reservation.User.Username }}, {{ reservation.Room.Description }}
      <button *ngIf="!reservation.Cancel" class="btn btn-info" name="cancel" (click)="cancelReservation(reservation.Id)">Cancel</button>
      <label *ngIf="reservation.Cancel" class="control-label">Canceled</label>
      <button *ngIf="!reservation.Cancel" class="btn btn-info" name="show" (click)="showReservation(reservation.Id)">Show</button>
    </li>
  </ul>
</div>-->

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Start date:</th>
      <th>End date:</th>
      <th>Customer</th>
      <th>Room No:</th>
      <th>Bed count:</th>
      <th>Price:</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let reservation of reservations">
      <td>{{reservation.StartDate}}</td>
      <td>{{reservation.EndDate}}</td>
      <td>{{reservation.User.Username}}</td>
      <td>{{reservation.Room.RoomNumber}}</td>
      <td>{{reservation.Room.BedCount}}</td>
      <td>{{reservation.Room.PricePerNight}}</td>
    </tr>
  </tbody>
</table>