<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Start date:</th>
      <th>End date:</th>
      <th>Customer</th>
      <th>Room No:</th>
      <th>Bed count:</th>
      <th>Price:</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let reservation of reservations">
      <td>{{reservation.StartDate}}</td>
      <td>{{reservation.EndDate}}</td>
      <td>{{reservation.User.Username}}</td>
      <td>{{reservation.Room.RoomNumber}}</td>
      <td>{{reservation.Room.BedCount}}</td>
      <td>{{reservation.Room.PricePerNight}}</td>
    </tr>
  </tbody>
</table>