<div>
  <form #f="ngForm" (ngSubmit)="onSubmitRegister(f.value)"> 
  <div>
    <label for = "Email">Email:</label>
    <input type="email" name="Email" id="Email" [(ngModel)]="Email"/>
  </div>
  <br>
  <div>
    <label for = "Username">Username:</label>
    <input type="text" name="Username" id="Username" [(ngModel)]="Username"/>
  </div>
  <br>
  <div>
    <label for = "Password">Password:</label>
    <input type="password" name="Password" id="Password" [(ngModel)]="Password"/>
  </div>
  <br>
  <div>
    <label for = "ConfirmPassword">Confirm password:</label>
    <input type="password" name="ConfirmPassword" id="ConfirmPassword" [(ngModel)]="ConfirmPassword"/>
  </div>
  <br>
  <div>
      <select name="Roles">
        <option value="user">User</option>
        <option value="manager">Manager</option>
      </select>
  </div>
  <br>
  <div>
    <input type="submit" value="Register"/>
  </div>
</form>
</div>
