<div style="float:left">
      
    <span style="height:5%;display:inline-block;position:relative;margin:0px" *ngFor = "let room of rooms">
    <span style=" float:left; background-color:aliceblue; width:20px;"> </span>

    <span style=" float:left;">
    <div style="height:2%"></div>

    <div style="background-color:#B8B8B8;width:220px;height:180px;border-bottom: 1px solid #A0A0A0;">
        <div style="border-bottom:1px solid black;height:15%;color: aliceblue"><font style="color:black">Room number:</font> {{room.RoomNumber}}</div>
        <div style="border-bottom:1px solid black;height:15%;color: aliceblue"><font style="color:black">Bed count:</font> {{room.BedCount}}</div>
        <div style="border-bottom:1px solid black;height:15%;color: aliceblue"><font style="color:black">Price per night:</font> {{room.PricePerNight}}</div>
        <div style="height:35%;overflow-y:auto;color: aliceblue"><font style="color:black">Description:</font> {{room.Description}}</div>
        <div style="height:20%">
          <button type="button" class="btn btn-secondary" name="show" (click)="showRoom(room.Id)">Show</button>
          <button *ngIf="canDelete()" type="button" class="btn btn-secondary" name="delete" (click) = "deleteRoom(room.Id)">Delete</button>
        </div>
    </div>

    </span>
  </span>
  </div>