<div class="panel panel-success"> 
  <div class="panel-heading">
    <p>Name: {{country.Name}}</p>
    <p>Code: {{country.Code}}</p>
  </div>
    

  <div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class="form-group">
        <label align="right" class="control-label" for = "Name">Enter new name of country:</label>
        <br>
        <input align="center" class="form-control" style="width: 30%" type="text" name="Name" id="Name" [(ngModel)]="Name"/>
      </div>

      <div class="form-group">
        <label class="control-label" for = "Code">Enter new code of country:</label>
        <br>
        <input class="form-control" style="width: 30%" type="text" name="Code" id="Code" [(ngModel)]="Code"/>
      </div>

      <div>
        <button class="btn btn-secondary" name="edit" >Edit</button>
      </div>

    </form>
  </div>
</div>
<br>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Region</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let region of regions">
      <td>{{region.Name}}</td>
      <td><button class="btn btn-secondary" name="show" (click)="showRegion(region.Id)">Show</button></td>
      <td><button class="btn btn-secondary" name="delete" (click) = "deleteRegion(region)">Delete</button></td>
    </tr>
  </tbody>
</table>

