  <div  >
    <span style="height:5%;display:inline-block;position:relative;margin:0px">
    <span style=" float:middle; background-color:aliceblue; width:20px;"> </span>

    <span style=" float:middle;">
    <div style="width:150px; height:20px"></div>

    <div style="height:50px;width:300px;background-color:#B8B8B8;border-bottom: 1px solid #A0A0A0;">

        <span style="text-align:left; background-color:B8B8B8; float:left; width:80%; height:100%">
          <font style="color:white">{{accommodation.Name}}</font>
        </span>

        <span style="text-align:left; float:middle; width:20%; height:100%">  
          <font style="color:white" size="6">{{accommodation.AvrageGrade}}</font>
          <span style="color:white"> /</span>
          <span style="color:white" itemprop="ratingValue">5</span>
        </span>        
        
    </div>

    <div>
        <img [src]= "accommodation.ImageUrl ? accommodation.ImageUrl: ''" alt="picture of accommodation" height="350px" width="300px">      
    </div>

  </span>
</span>
</div>
<!--ovde je kraj -->
  
  <div style="width:100%">
    <div>
        Name: {{accommodation.Name}} <br>
        Address: {{accommodation.Address}} <br>
        Accommodation Type: {{accommodation.AccommodationType.Name}}<br> 
        Place: {{accommodation.Place.Name}} <br>
        Description: {{accommodation.Description}} <br>
    </div>

    <div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            
           <div>
               <label for = "Name">Name:</label><br>
                <input type="text" name="Name" id="Name" [(ngModel)]="Name"/>
            </div>

            <div>
                <label for = "Name">Address:</label><br>
                <input type="text" name="Address" id="Address" [(ngModel)]="Address"/>
            </div>

            <div>
                <label for = "Name">Description:</label><br>
                <input type="text" name="Description" id="Description" [(ngModel)]="Description"/>
            </div>

            <div>
                <button name="edit" >Edit</button>
            </div>
        </form>
    </div>

      
  </div>

  <div>
      
      <div *ngFor = "let room of accommodation.Rooms">
          <label>Room number: {{room.RoomNumber}}</label> 
        <button name="show" (click)="showRoom(room.Id)">Show</button>
        <button name="delete" (click) = "deleteRoom(room.Id)">Delete</button>
      </div>
      
      <br>
        <!--accommodation.Id-->
      <button name="add" [routerLink]="['/add_room/']">Dodavanje sobe, kasnije namestiti</button>
  </div>

  <!--<button name="add" (click) = "switchShowFormComment()">Show comment fields</button>-->
<!--*ngIf="switchShowFormComment()"-->
  <div *ngIf="switchShowFormComment()">
  <form #f="ngForm" (ngSubmit)="onSubmitComment(f.value)">
      <div>
        <label for = "comment">Comment:</label>
        <br>
        <textarea type="text" name="comment" id="comment" [(ngModel)]="comment">
        </textarea>
      </div>
      <div>
        <label for = "Grade">Grade:</label>
        <br>
        <input type="number" name="Grade" id="Grade" [(ngModel)]="Grade"/>
      </div>
      <div>
        <button name="post" (click) ="onSubmitComment()">Post comment</button>
      </div>
    </form>
    </div>

  <div>
    <div>
      <font style="size:14">Comments:</font><br>

      <div *ngFor = "let comment of Comments">
        User: {{comment.User.Username}} : {{comment.Text}} : {{comment.Grade}}  
        <button name="delete" (click) = "deleteComment(accommodation.Id)">Delete</button>
      </div>
      <br>
      
    </div>
  </div>
    

<div>

</div>

<div style=" margin: 0 auto">
    <app-map [map]="map"></app-map>
</div>