<p>
  accommodation works!
</p>

<div> 
    <p>Name: {{accommodation.Name}}</p>
    <p>Description: {{accommodation.Description}}</p>
    <p>Address: {{accommodation.Address}}</p>
    <p>AverageGrade: {{accommodation.AvrageGrade}}</p>
    <p>Latitude: {{accommodation.Latitude}}</p>
    <p>Longitude: {{accommodation.Longitude}}</p>
    <p>ImageUrl: {{accommodation.ImageUrl}}</p>
    <p>Approved: {{accommodation.Approved}}</p>
    <p>Place: {{accommodation.Place.Name}}</p>
    <p>User: {{accommodation.User.Username}}</p>
    <p>AccommodationType: {{accommodation.AccommodationType.Name}}</p>
    <button name="show" [routerLink]="['/accommodation-show']">Show</button>
</div>