 <div style="width:100%">

    <div style="width:50%;float:left">

    <span style="height:5%;display:inline-block;position:relative;margin:0px">
        <span style=" float:middle; background-color:aliceblue; width:20px;"> </span>

    <span style=" float:middle;">
        <div style="width:150px; height:20px"></div>

    <div style="height:70px;width:350px;background-color:#B8B8B8;border-bottom: 1px solid #A0A0A0;">

        <span style="text-align:left; background-color:B8B8B8; float:left; width:80%; height:100%">
          <font style="color:blue">{{accommodation.Name}}</font><br>
            <font style="color:white" >Accommodation type: {{accommodation.AccommodationType.Name}}<br> 
                                          {{accommodation.Address}} {{accommodation.Place.Name}}
            </font>
        </span>

        <span style="text-align:left; float:middle; width:20%; height:100%">  
          <font style="color:white" size="6">{{accommodation.AvrageGrade}}</font>
          <span style="color:white"> /</span>
          <span style="color:white" itemprop="ratingValue">5</span>
        </span>        
        
    </div>

    <div>
        <img [src]= "accommodation.ImageUrl ? accommodation.ImageUrl: ''" alt="picture of accommodation" height="350px" width="350px">      
    </div>
    
    <div style="float:right;width:100%; height:80px; text-align:left; background-color:#B8B8B8;">
      <textarea style="background-color:#D3D3D3;height:100%" readonly class="form-control" id="exampleTextarea" name="description">{{accommodation.Description}}</textarea>
    </div>

    
      </span>
      </span>

       </div>
    
    <!--</div>-->

    <div style="width:50%;float:right">

    <span style="height:5%;display:inline-block;position:relative;margin:0px">
    <span style=" float:right; background-color:aliceblue; width:20px;"> </span>

    <span style=" float:right;">
      
    <div style="width:150px; height:20px"></div>

        <div style=" margin: 5 auto">
            <app-map [map]="map"></app-map>
        </div>

     
    </span>

  </span>
   </div>
</div>

<!--ovde je kraj -->
  

<div style="width:100%;float:left">
      <br>
      <br>

      <button style="float:left" type="button" name="rooms" (click)="roomsClicked()" class="btn btn-secondary">Show rooms</button>
      <button style="float:left" *ngIf="canEditOrDelete()" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addRoomModal">Add room</button>
      <button style="float:left" *ngIf="canEditOrDelete()" type="button" class="btn btn-secondary" name="edit" (click) = "changeShowEdit()">Show edit form</button>
      <button style="float:left" *ngIf="canEditOrDelete()" type="button" class="btn btn-secondary" name="delete" (click) = "deleteAcc(accommodation)">Delete</button>
      <br>
      <br>

      <div *ngIf="isShowEditPress()" style="float:left;width:50%">

        <!--<form #f="ngForm" (ngSubmit)="onSubmitEdit(f.value)">-->
            
           <div>
               <label for = "Name">Name:</label><br>
                <input type="text" name="Name" id="Name" [(ngModel)]="Name"/>
            </div>

            <div>
                <label for = "Name">Address:</label><br>
                <input type="text" name="Address" id="Address" [(ngModel)]="Address"/>
            </div>

            <div>
                <label for = "Name">Description:</label><br>
                <textarea style="height:100%" class="form-control" id="exampleTextarea" name="description" [(ngModel)]="Description">{{accommodation.Description}}</textarea>
                <!--<input type="text" name="Description" id="Description" [(ngModel)]="Description"/>-->
            </div>
            <br>
            <div>
                <button type="button" class="btn btn-secondary" name="edit"  (click) = "onSubmitEdit()">Edit</button>
            </div>
        <!--</form>-->
      </div>
  </div>





<!--4-->

  <div style="width:100%;float:left">

    

  </div>


  <!--comments-->

  <div *ngIf="showFormForComment" style="float:left;width:100%;">
  <!--<form #f="ngForm" (ngSubmit)="onSubmitComment(f.value)">-->
      <div style="width:40%" class="form-group">
        <br>
        <textarea placeholder="Type comment" class="form-control" id="exampleTextarea" name="comment" [(ngModel)]="comment">
        </textarea>
      </div>
      <div>
        <label for = "Grade">Grade (0-5):</label>
        <br>
        <input type="number" name="Grade" id="Grade" [(ngModel)]="Grade"/>
      </div>
      <div>
          <br>
        <button type="button" class="btn btn-secondary" name="post" (click) = "onSubmitComment()">Post comment</button>
      </div>
    <!--</form>-->
    </div>

    <br>
    <br>
    <br>
    
  <div style="height:5%;float:left;width:50%">
      <div *ngFor = "let comment of Comments">
          <span style="border:black;width:15%; display:inline-block;">
              <font>{{comment.User.Username}}</font>
          </span>
          
          <span style="width:60%; display:inline-block;">
              <font>{{comment.Text}}</font>
          </span>

          <span style="width:10%; display:inline-block;">
              <font>{{comment.Grade}}</font>
          </span>

          <span *ngIf="isUserComment(comment)" style="width:10%; display:inline-block;">
              <button type="button" class="btn btn-secondary" name="delete" (click) = "deleteComment(comment)">Delete</button>
          </span>
        
      </div>
      <br>
  </div>

  <!--add room pop up-->
  <div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form class="container" #f="ngForm" (ngSubmit)="addRoom(f.value, f)">
                        <div class="form-group">
                            <label for="roomNumber">Room number:</label>
                            <input type="number" class="form-control" placeholder="Room number" name="RoomNumber" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="BedCount">Bed count:</label>
                            <input type="number" class="form-control" placeholder="Bed count" name="BedCount" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="Description">Description:</label>
                            <input type="text" class="form-control" placeholder="Description" name="Description" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="PricePerNight">Price per night:</label>
                            <input type="number" class="form-control" placeholder="Price per night" name="PricePerNight" ngModel>
                        </div>
                        <button type="submit" class="btn btn-primary" data-dismisss="modal">Add</button>
                        <button id="close3" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </form>
      </div>
    </div>
  </div>
</div>