<!--<p>
  list-of-accommodations works!
</p>

<div style="float:left;padding-left:1%">
  <ul *ngFor = "let accommodation of accommodations">
  <li>{{ accommodation.Name }}, {{ accommodation.Description }}, 
                                                      {{ accommodation.Address}}, {{ accommodation.AvrageGrade}},
                                                      {{ accommodation.Latitude}}, {{ accommodation.Longitude}},
                                                      {{ accommodation.ImageUrl}}, {{ accommodation.Approved}},
                                                      {{ accommodation.Place.Name}}, {{ accommodation.AccommodationType.Name}}
    <button name="show" (click)="showAcc(accommodation.Id)">Show</button>
    <button name="delete" (click) = "deleteAcc(accommodation)">Delete</button>
                                                      </li>
</ul>
</div>-->

<div  >
<span style="height:5%;display:inline-block;position:relative;margin:0px" *ngFor = "let accommodation of accommodations">
  <span style=" float:left; background-color:aliceblue; width:20px;"> </span>

  <span style=" float:left;">
    <div style="width:150px; height:20px">
    </div>

    <div onmouseover="" style="display:inline-block;cursor: pointer;" (click)="onClick(accommodation.Id)">
      <img [src]= "accommodation.ImageUrl" alt="More details" height="180px" width="220px">
    </div>

    <div onmouseover="" style="display:inline-block;cursor: pointer;" (click)="onClick(accommodation.Id)" 
      style="height:50px;width:220px;background-color:#B8B8B8;border-bottom: 1px solid #A0A0A0;">
        
          <a [routerLink]="['/home/view_accommodation/', accommodation.Id]">{{accommodation.Name}}</a><br>
          <font>{{accommodation.Place.Name}}</font>
        
    </div>

    <div style="background-color:#B8B8B8;width:220px;height:30px;border-bottom: 1px solid #A0A0A0;">
        <span style="color:#ffaa00;font-size:140%;">&#9733;</span>
        <font style="color: aliceblue">{{accommodation.AvrageGrade}}</font>
    </div>
    
    <div style="width:220px; height:80px; text-align:left; background-color:#B8B8B8;">
    <font style="color: aliceblue">{{accommodation.Description}}</font>
    </div>
  </span>
</span>
</div>