<div>
  <form #f="ngForm">
    <input type="text" placeholder="Accommodation name" name="Name" id="Name" [(ngModel)]="Name"/>
    <input type="text" placeholder="Average grade" name="MinAvrageGrade" id="MinAvrageGrade" [(ngModel)]="MinAvrageGrade"/>
    <input type="number" placeholder="Number of beds" name="BedCount" id="BedCount" [(ngModel)]="BedCount"/>
    <input type="number" placeholder="Min price" name="MinPrice" id="MinPrice" [(ngModel)]="MinPrice"/>
    <input type="number" placeholder="Max price" name="MaxPrice" id="MaxPrice" [(ngModel)]="MaxPrice"/>
    <input type="text" placeholder="Accommodation type" name="AccommodationTypeName" id="AccommodationTypeName" [(ngModel)]="AccommodationTypeName"/>
    <input type="text" placeholder="Place" name="PlaceName" id="PlaceName" [(ngModel)]="PlaceName"/>
    <input type="text" placeholder="Region" name="RegionName" id="RegionName" [(ngModel)]="RegionName"/>
    <input type="text" placeholder="Country" name="CountryName" id="CountryName" [(ngModel)]="CountryName"/>
  </form>
</div>

<div>
    <button (click)="search()">Search</button>
    <button (click)="searchAll()">Search all</button>
</div>

<div *ngFor = "let a of accommodations">
    <br>
    <div style="background-color: darkgrey">
        <font>Accommodation name: {{a.Name}}</font><br>
        <font>Average grade:{{a.AvrageGrade}}</font><br>
        <font><img [src]=  "a.ImageUrl" alt="accommodation picture" height="120px" width="120px"></font><br>
        <font>Type : {{a.AccommodationType.Name}}</font><br>
        <font>Place: {{a.Place.Name}}</font><br>
        <font>Description: {{a.Description}}</font><br>
    </div>
    <br>
</div>