
<header id="header">
    <div id="header-inner">	
		<div id="logo">
			<h1><a [routerLink]="['/home']">Booking<span>App</span></a></h1>
		</div>
	
    	<div *ngIf="!IsLoggedIn()" style=" float:right">
			
			<a class="btn btn-link" style="color:black" [routerLink]="['/registration']">Registration</a>
    			 <a class="btn btn-link" style="color:black" [routerLink]="['/home/login']">Login</a>
				
		</div>
		<div *ngIf="IsLoggedIn()" style=" float:right">
				<a class="btn btn-link" style="color:black" [routerLink]="['/logout']">Logout</a>
				<label>{{username}}</label>
		</div>
			<div class="clr"></div>
		</div>
			
</header>


<div class="feature">
	
  	<div class="feature-inner">
		<h1>Project</h1>
	</div>

</div>

<div *ngIf="isAdmin()" style="position:relative;z-index:1000;">
<ul class="nav">

    <li>
        <a [routerLink]="['/home/']">Home</a>
    </li>

    <li>
        <a href="#">Accommodations</a>
        <ul>
            <li><a [routerLink]="['/home/add_accommodation']">Add accommodation</a></li>

            <li><a [routerLink]="['/home/view_accommodations']">List of accommodations</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Accommodation types</a>
        <ul>
            <li><a [routerLink]="['/home/add_accommodation_type']">Create new accommodation type</a></li>
            <li><a [routerLink]="['/home/view_types']">View accommodation types</a></li>
        </ul>
    </li>

		<li>
        <a href="#">Rooms</a>
        <ul>
            <li><a [routerLink]="['/home/add_room']">Create new room</a></li>
            <li><a [routerLink]="['/home/view_rooms']">View all rooms</a></li>
        </ul>
    </li>

		<li>
        <a href="#">Places</a>
        <ul>
            <li><a [routerLink]="['/home/add_place']">Add</a></li>
            <li><a [routerLink]="['/home/view_places']">List of places</a></li>
        </ul>
    </li>

		<li>
        <a href="#">Regions</a>
        <ul>
            <li><a [routerLink]="['/home/add_region']">Add</a></li>
            <li><a [routerLink]="['/home/view_regions']">List of regions</a></li>
        </ul>
    </li>

		<li>
        <a href="#">Countries</a>
        <ul>
            <li><a [routerLink]="['/home/add_country']">Add</a></li>
            <li><a [routerLink]="['/home/view_countries']">List of countries</a></li>
        </ul>
    </li>

		<li>
        <a href="#">Reservations</a>
        <ul>
            <li><a [routerLink]="['/home/add_reservation']">Create</a></li>
            <li><a [routerLink]="['/home/view_reservations']">View room reservations</a></li>
        </ul>
    </li>

    <li><a [routerLink]="['/home/search']">Search</a></li>

</ul>
</div>

<div *ngIf="isManager()" style="position:relative;z-index:1000;">
    <ul class="nav">

        <li>
            <a [routerLink]="['/home/']">Home</a>
        </li>

        <li>
            <a [routerLink]="['/home/add_accommodation']">Add accommodation</a>
        </li>

        <li><a [routerLink]="['/home/search']">Search</a></li>

    </ul>
</div>

<div *ngIf="isUser()" style="position:relative;z-index:1000;">
    <ul class="nav">

        <li>
            <a [routerLink]="['/home/']">Home</a>
        </li>

        <li>
            <a [routerLink]="['/home/add_accommodation']">My reservations</a>
        </li>

        <li><a [routerLink]="['/home/search']">Search</a></li>

    </ul>
</div>

<div *ngIf="!IsLoggedIn()" style="position:relative;z-index:1000;">
    <ul class="nav">

        <li>
            <a [routerLink]="['/home/']">Home</a>
        </li>

        <li><a [routerLink]="['/home/search']">Search</a></li>

    </ul>
</div>



<div *ngIf="isAllView()">
<span style="height:5%;display:inline-block;position:relative;margin:0px" *ngFor = "let accommodation of accommodations">
  <span style=" float:left; background-color:aliceblue; width:20px;"> </span>

  <span style=" float:left;">
    <div style="width:150px; height:20px">
    </div>

    <div onmouseover="" style="display:inline-block;cursor: pointer;" (click)="onClick(accommodation.Id)">
      <img [src]= "accommodation.ImageUrl" alt="More details" height="180px" width="220px">
    </div>

    <div onmouseover="" style="display:inline-block;cursor: pointer;" (click)="onClick(accommodation.Id)" 
      style="height:50px;width:220px;background-color:#B8B8B8;border-bottom: 1px solid #A0A0A0;">
        
          <a [routerLink]="['/home/view_accommodation/', accommodation.Id]">{{accommodation.Name}}</a><br>
          <font>{{accommodation.Place.Name}}</font>
        
    </div>

    <div style="width:220px; height:80px; text-align:left; background-color:#B8B8B8;">
    <font style="color: aliceblue">{{accommodation.Description}}</font>
    </div>
  </span>
</span>
</div>

<!--<ul class="nav nav-tabs">
  
  <li class="dropdown">
   <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
      Accommodations <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a [routerLink]="['/home/add_accommodation']">Add accommodation</a></li>
      <li class="divider"></li>
      <li><a [routerLink]="['/home/view_accommodations']">List of accommodations</a></li>
    </ul>
  </li>



</ul>-->

<router-outlet></router-outlet>
