<header id="header">
    <div id="header-inner">	
		<div id="logo">
			<h1><a href="www.google.com">Booking<span>App</span></a></h1>
		</div>
	
    	<div *ngIf="!IsLoggedIn()" style=" float:right">
			
			<a [routerLink]="['/registration']">Registration</a>
    			 <a [routerLink]="['/home/login']">Login</a>
				<!--<router-outlet></router-outlet>-->
				
		</div>
		<div *ngIf="IsLoggedIn()" style=" float:right">
				<a [routerLink]="['/logout']">Logout</a>
				<label>{{username}}</label>
				<!--<router-outlet></router-outlet>-->
		</div>

		<!--<form onsubmit="return validacija3()" action="/Projekat/ServletPretraga" method="POST" name="forma">
			<div style="float:left;padding-left:20px">
				<select name="proizvod">
		    		<option value="naziv" selected>Naziv</option>
					<option value="cena">Opseg cene</option>
					<option value="opis">Opis</option>
					<option value="kategorija">Kategorija</option>
					<option value="zemlja">Zemlja proizvodnje</option>
					<option value="boja">Boja</option>
					<option value="ocena">Ocena</option>
					<option value="recenzija">Broj recenzija</option>
					<option value="kolicina">Količina u magacinu</option>
			    </select>
				<input id="search" type="text" name="trazi1" placeholder="Trazi proizvode..">
					<select name=prodavnica>
				    	<option value="naziv" selected>Naziv</option>
						<option value="ocena">Ocena</option>
						<option value="drzava">Država</option>
					</select>
				<input id="search" type="text" name="trazi2" placeholder="Trazi prodavnice..">
				</div>
			
            	<br>
				<br>

				<div style="float:left;padding-left:250px">
					<input data-inline="true" class="button10 button11" type="submit" name="trazi" value="Pretraga"/>
				</div>
			</form>-->

			<div class="clr"></div>
		</div>
			
</header>
	
<div class="feature">
	
  	<div class="feature-inner">
		<h1>Project</h1>
	</div>

</div>

<div style="float:left;padding-left:12%">
	<ul>
 		<li><a [routerLink]="['/home/accommodation_home']">Accommodation</a></li>
 		<li><a [routerLink]="['/home/accommodation_type_home']">Accommodation type</a></li>
 		<li><a [routerLink]="['/home/room_home']">Room</a></li>
 		<li><a [routerLink]="['/home/place_home']">Place</a></li>
 		<li><a [routerLink]="['/home/region_home']">Region</a></li>
		<li><a [routerLink]="['/home/country_home']">Country</a></li>
		<li><a [routerLink]="['/home/country_home']">Reservation</a></li>
	</ul>
</div>

<router-outlet></router-outlet>