
<header id="header">
    <div id="header-inner">	
		<div id="logo">
			<h1><a href="www.google.com">Booking<span>App</span></a></h1>
		</div>
	
    	<div *ngIf="!IsLoggedIn()" style=" float:right">
			
			<a [routerLink]="['/registration']">Registration</a>
    			 <a [routerLink]="['/home/login']">Login</a>
				
		</div>
		<div *ngIf="IsLoggedIn()" style=" float:right">
				<a class="btn btn-link" style="color:black" [routerLink]="['/logout']">Logout</a>
				<label>{{username}}</label>
		</div>
			<div class="clr"></div>
		</div>
			
</header>


<div class="feature">
	
  	<div class="feature-inner">
		<h1>Project</h1>
	</div>

</div>

<ul class="nav">

    <li>
        <a href="#">Accommodations</a>
        <ul>
            <li><a [routerLink]="['/home/add_accommodation']">Add accommodation</a></li>

            <li><a [routerLink]="['/home/view_accommodations']">List of accommodations</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Accommodation types</a>
        <ul>
            <li><a [routerLink]="['/home/add_accommodation_type']">Create new accommodation type</a></li>
            <li><a [routerLink]="['/home/view_types']">View accommodation types</a></li>
        </ul>
    </li>

		<li>
        <a href="#">Rooms</a>
        <ul>
            <li><a [routerLink]="['/home/add_room']">Create new room</a></li>
            <li><a [routerLink]="['/home/view_rooms']">View all rooms</a></li>
        </ul>
    </li>

		<li>
        <a href="#">Places</a>
        <ul>
            <li><a [routerLink]="['/home/add_place']">Add</a></li>
            <li><a [routerLink]="['/home/view_places']">List of places</a></li>
        </ul>
    </li>

		<li>
        <a href="#">Regions</a>
        <ul>
            <li><a [routerLink]="['/home/add_region']">Add</a></li>
            <li><a [routerLink]="['/home/view_regions']">List of regions</a></li>
        </ul>
    </li>

		<li>
        <a href="#">Countries</a>
        <ul>
            <li><a [routerLink]="['/home/add_country']">Add</a></li>
            <li><a [routerLink]="['/home/view_countries']">List of countries</a></li>
        </ul>
    </li>

		<li>
        <a href="#">Reservations</a>
        <ul>
            <li><a [routerLink]="['/home/add_reservation']">Create</a></li>
            <li><a [routerLink]="['/home/view_reservations']">View room reservations</a></li>
        </ul>
    </li>

    <li><a [routerLink]="['/home/search']">Search</a></li>

</ul>

<!--<ul class="nav nav-tabs">
  
  <li class="dropdown">
   <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
      Accommodations <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a [routerLink]="['/home/add_accommodation']">Add accommodation</a></li>
      <li class="divider"></li>
      <li><a [routerLink]="['/home/view_accommodations']">List of accommodations</a></li>
    </ul>
  </li>



</ul>-->

<router-outlet></router-outlet>
