<div> 
    <p>StartDate: {{reservation.StartDate }}</p>
    <p>EndDate: {{reservation.EndDate }}</p>
    <p>Room: {{ reservation.Room.Description }}</p>
    <!--<button name="show" [routerLink]="['/reservation-show']">Show</button>-->
</div>

<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div>
    <label for = "StartDate">Start date:</label>
    <input type="date" name="StartDate" id="StartDate" [(ngModel)]="StartDate"/>
  </div>
<div>
    <label for = "EndDate">End date:</label>
    <input type="date" name="EndDate" id="EndDate" [(ngModel)]="EndDate"/>
  </div>
  <div>
    <input type="submit" value="Edit"/>
  </div>

</form>