<!--<p>
  add-region works!
</p>

<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div>
    <label for = "Name">Name:</label>
    <br>
    <input type="text" name="Name" id="Name" [(ngModel)]="Name"/>
  </div>

  <div>
    <select name="CountryId" id="CountryId" [(ngModel)]="CountryId">
      <option *ngFor = "let country of countries" value={{country.Id}} >{{country.Name}}</option>
    </select>
  </div>

  <div>
    <input type="submit" value="Add"/>
  </div>

</form>-->
<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div class="form-group">
    <label class="control-label" for = "Name">Name:</label>
    <br>
    <input class="form-control" style="width:15%" type="text" name="Name" id="Name" [(ngModel)]="Name"/>
  </div>

  <div class="form-group" style="width:15%">
    <label class="control-label">Country:</label>
    <select class="form-control" name="CountryId" id="CountryId" [(ngModel)]="CountryId">
      <option *ngFor = "let country of countries" value={{country.Id}} >{{country.Name}}</option>
    </select>
  </div>

  <div>
    <input class="btn btn-default" type="submit" value="Add"/>
  </div>
</form>
</div>
