<!--<div style="float:left;padding-left:1%">
  <ul class="breadcrumb" *ngFor = "let region of regions">
    <li style="color:white" class="active">{{ region.Name }}, {{region.Country.Name}}
    <button class="btn btn-info" name="show" (click)="showRegion(region.Id)">Show</button>
    <button class="btn btn-danger" name="delete" (click) = "deleteRegion(region)">Delete</button>
    </li>
  </ul>
</div>-->

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let region of regions">
      <td>{{region.Name}}</td>
      <td>{{region.Country.Name}}</td>
      <td><button class="btn btn-secondary" name="show" (click)="showRegion(region.Id)">Show</button></td>
      <td><button class="btn btn-secondary" name="delete" (click) = "deleteRegion(region)">Delete</button></td>
    </tr>
  </tbody>
</table>