<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="form-group">
      <label class="control-label" for = "StartDate">Start date:</label>
      <input class="form-control" style="width:15%" type="date" name="StartDate" id="StartDate" [(ngModel)]="StartDate"/>
    </div>
    <div class="form-group">
      <label class="control-label" for = "EndDate">End date:</label>
      <input class="form-control" style="width:15%" type="date" name="EndDate" id="EndDate" [(ngModel)]="EndDate"/>
    </div>
    <div class="form-group" style="width:15%">
      <label class="control-label">Room:</label>
      <select class="form-control" name="RoomId" id="RoomId" [(ngModel)]="RoomId">
        <option *ngFor = "let room of rooms" value={{room.Id}} >{{room.Description}}</option>
      </select>
    </div>
    <div>
      <input class="btn btn-default" type="submit" value="Create"/>
    </div>
  </form>
</div>
