<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div>
    <label for = "Grade">Grade:</label>
    <input type="text" name="Grade" id="Grade" [(ngModel)]="Grade"/>
  </div>

  <div>
    <label for = "Text">Text:</label>
    <input type="text" name="Text" id="Text" [(ngModel)]="Text"/>
  </div>

  <div>
    <select name="AccommodationId" id="AccommodationId" [(ngModel)]="AccommodationId">
      <option *ngFor = "let accommodation of accommodations" value={{accommodation.Id}} >{{accommodation.Name}}</option>
    </select>
  </div>

  <div>
    <input type="submit" value="Add"/>
  </div>

</form>