<header id="header">
    <div id="header-inner">	
		<div id="logo">
			<h1><a [routerLink]="['/home']">Booking<span>App</span></a></h1>
		</div>
	
    	<div *ngIf="!IsLoggedIn()" style=" float:right">
			
			<!--<a class="btn btn-link" style="color:black" [routerLink]="['/registration']">Registration</a>-->
    			 <!--<a class="btn btn-link" data-toggle="modal" data-target="#myModal" style="color:black" [routerLink]="['/login']">Login</a>-->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                    Sign up
                </button>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Sign in
                </button>
		</div>
		<div *ngIf="IsLoggedIn()" style=" float:right">
				<a class="btn btn-link" style="color:black" [routerLink]="['/logout']">Logout</a>
				<label>{{username}}</label>
		</div>
			<div class="clr"></div>
		</div>
			
</header>


<div class="feature">
	
  	<div class="feature-inner">
		<h1>Project</h1>
	</div>

</div>


<div *ngIf="isAdmin()" style="position:relative;z-index:1000;">
    <nav style="background-color:#939393; width: 100%; height:50px;" class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                
                <!--<li class="nav-item active"><button [routerLink]="['/home']" class="btn btn-secondary">Home</button></li>-->
                <li class="nav-item active"><a [routerLink]="['/home']" class="btn btn-secondary" style="background-color: transparent; border: 1px; color:white;">Home</a>
                            </li>
                <li class="nav-item" >
                    <button [routerLink]="['/not_approved_accommodations']" class="btn btn-secondary">Not aproved accommodations</button>
                </li>

                <li class="nav-item" >
                    <div class="btn-group"  >
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Types</button>
                        <div class="dropdown-menu" style="background-color: #555;">
                            <a [routerLink]="['/add_accommodation_type']" class="btn btn-secondary" style="background-color: transparent; border: 1px; color:white;">Add type</a>
                            <a [routerLink]="['/view_types']" class="btn btn-secondary" style="background-color: transparent; border: 1px; color:white;">List of types</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item" >
                    <div class="btn-group"  >
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Places</button>
                        <div class="dropdown-menu" style="background-color: #555;">
                            <a [routerLink]="['/add_place']" class="btn btn-secondary" style="background-color: transparent; border: 1px; color:white;">Add place</a>
                            <a [routerLink]="['/view_places']" class="btn btn-secondary" style="background-color: transparent; border: 1px; color:white;">List of places</a>
                            <a [routerLink]="['/add_region']" class="btn btn-secondary" style="background-color: transparent; border: 1px; color:white;">Add region</a>
                            <a [routerLink]="['/view_regions']" class="btn btn-secondary" style="background-color: transparent; border: 1px; color:white;">List of regions</a>
                            <a [routerLink]="['/add_country']" class="btn btn-secondary" style="background-color: transparent; border: 1px; color:white;">Add country</a>
                            <a [routerLink]="['/view_countries']" class="btn btn-secondary" style="background-color: transparent; border: 1px; color:white;">List of countries</a>
                        </div>
                    </div>
                </li>

                <!--<li class="nav-item" >
                    <div class="btn-group"  >
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Regions</button>
                        <div class="dropdown-menu" style="background-color: #555;">
                            <a [routerLink]="['/add_region']" class="btn btn-secondary" style="background-color: transparent; border: 1px; color:white;">Add region</a>
                            <a [routerLink]="['/view_regions']" class="btn btn-secondary" style="background-color: transparent; border: 1px; color:white;">List of regions</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item" >
                    <div class="btn-group"  >
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Countries</button>
                        <div class="dropdown-menu" style="background-color: #555;">
                            <a [routerLink]="['/add_country']" class="btn btn-secondary" style="background-color: transparent; border: 1px; color:white;">Add country</a>
                            <a [routerLink]="['/view_countries']" class="btn btn-secondary" style="background-color: transparent; border: 1px; color:white;">List of countries</a>
                        </div>
                    </div>
                </li>-->

                <li class="nav-item"><button [routerLink]="['/view_managers']" class="btn btn-secondary">Managers</button></li>

                <li class="nav-item"><button [routerLink]="['/view_reservations']" class="btn btn-secondary">Reservations</button></li>

                <li class="nav-item"><button [routerLink]="['/search']" class="btn btn-secondary">Search</button></li>

            </ul>
        </div>
    </nav>
</div>

<div *ngIf="isManager()" style="position:relative;z-index:1000;">
    <nav style="background-color:#939393; width: 100%;" class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><button [routerLink]="['/home']" class="btn btn-secondary">Home</button></li>
                <li class="nav-item active"><button [routerLink]="['/add_accommodation']" class="btn btn-secondary">Add accommodation</button></li>
                <li class="nav-item"><button [routerLink]="['/search']" class="btn btn-secondary">Search</button></li>
            </ul>
        </div>
    </nav>
</div>

<div *ngIf="isUser()" style="position:relative;z-index:1000;">
    <nav style="background-color:#939393; width: 100%;" class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><button [routerLink]="['/home']" class="btn btn-secondary">Home</button></li>
                <li class="nav-item active"><button [routerLink]="['/my_reservations']" class="btn btn-secondary">My reservations</button></li>
                <li class="nav-item"><button [routerLink]="['/search']" class="btn btn-secondary">Search</button></li>
            </ul>
        </div>
    </nav>
</div>

<div *ngIf="!IsLoggedIn()" style="position:relative;z-index:1000;">
    <nav style="background-color:#939393; width: 100%;" class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><button [routerLink]="['/home']" class="btn btn-secondary">Home</button></li>
                <li class="nav-item"><button [routerLink]="['/search']" class="btn btn-secondary">Search</button></li>
            </ul>
        </div>
    </nav>
</div>

<!--login-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form class="container" #f="ngForm" (ngSubmit)="logIn(f.value, f)">
                        <div class="form-group">
                            <label for="Name">Username:</label>
                            <input required minlength="4" type="text" class="form-control" placeholder="Username" name="Username" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="Password">Password:</label>
                            <input type="password" min="0" class="form-control" placeholder="Password" name="Password" ngModel>
                        </div>
                        <button type="submit" class="btn btn-primary" data-dismisss="modal">Sign in</button>
                        <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </form>
      </div>
    </div>
  </div>
</div>

<!--registration-->

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form class="container" #f1="ngForm" (ngSubmit)="signUp(f1.value, f1)">
                        <div class="form-group">
                            <label for="Email">Email:</label>
                            <input type="email" class="form-control" placeholder="Email" name="Email" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="Name">Username:</label>
                            <input type="text" class="form-control" placeholder="Username" name="Username" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="Password">Password:</label>
                            <input type="password" min="0" class="form-control" placeholder="Password" name="Password" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword">Confirm Password:</label>
                            <input type="password" min="0" class="form-control" placeholder="Confirm password" name="ConfirmPassword" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="sel1">Role:</label>
                            <select class="form-control" id="Role" name="Role" ngModel>
                                <option value="AppUser">User</option>
                                <option value="Manager">Manager</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary" data-dismisss="modal">Submit</button>
                        <button id="close2" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </form>
      </div>
    </div>
  </div>
</div>

    <div *ngIf="IsLoggedIn() && isAdmin()">
        <app-notification-hub></app-notification-hub>
    </div>

    <div *ngIf="IsLoggedIn() && isManager()">
        <app-notification-manager></app-notification-manager>
    </div>


<router-outlet></router-outlet>

<div id="successMsg"></div>
<div id="errorMsg"></div>


