			#logo { padding:0; width:auto; float:left;}
			#logo h1 a, h1 a:hover { color:darkgreen; text-decoration:none;}
			#logo h1 span { color:#BCCE98;}

			#header { background:#D3D3D3; }
			#header-inner { margin:0 auto; padding:0; width:100%;}
			
			.feature { background:#555;padding:18px;}
			.feature-inner { margin:auto;width:100%; }
			.feature-inner h1 {color:#DAE9BC;font-size:32px;}
			
			.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}