<div style="float:left;padding-left:1%"> 
    <p>Current name of region: {{region.Name}}</p>
    <p>Country name: {{countryName}}</p>
    <!--<p>Country code: {{region.Country.Code}}</p>-->
    <!--<button name="show" [routerLink]="['/region-show']">Show</button>-->


<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div>
    <label for = "Name">Enter new name of region:</label>
    <br>
    <input type="text" name="Name" id="Name" [(ngModel)]="Name"/>
  </div>
  <div>
   <button name="edit" >Edit</button>
  </div>
</form>



  <ul *ngFor = "let place of places">
    <li>{{ place.Name }}</li>
    <button name="show" (click)="showPlace(place.Id)">Show</button>
    <button name="delete" (click) = "deletePlace(place)">Delete</button>
  </ul>
</div>
