<div class="panel panel-success">
  <div class="panel-heading"> 
    <p>Current name of region: {{region.Name}}</p>
    <p>Country name: {{countryName}}</p>
  </div>

  <div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class="form-group">
        <label class="control-label" for = "Name">Enter new name of region:</label>
          <br>
        <input class="form-control" style="width: 30%" type="text" name="Name" id="Name" [(ngModel)]="Name"/>
      </div>
      <div>
        <button class="btn btn-secondary" name="edit" >Edit</button>
      </div>
    </form>
  </div>
</div>
<br>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Place</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let place of places">
      <td>{{place.Name}}</td>
      <td><button class="btn btn-secondary" name="show" (click)="showPlace(place.Id)" [routerLink]="['/home/view_place/', place.Id]">Show</button></td>
      <td><button class="btn btn-secondary" name="delete" (click) = "deletePlace(place)">Delete</button></td>
    </tr>
  </tbody>
</table>
  


